<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:src="@{main.js}" type="text/javascript"></script>
</head>
<body>
<!--Head-->
<div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="#">
            <h5>
                <span sec:authentication="name"></span>
            </h5>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active text-white">
                    <h5>with roles:
                        <span sec:authorize="hasAnyRole('ROLE_ADMIN')">
                               ADMIN
                            </span>
                        <span sec:authorize="hasAnyRole('ROLE_USER')">
                                USER
                            </span>
                    </h5>
                </li>
            </ul>
            <a class="nav-link text-white-50 logout" href="http://localhost:8080/logout">Logout</a>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <!--    Left Side-->
        <div class="col-2">
            <div class="list-group">
                <a href="/admin" class="list-group-item list-group-item-action active adminPnl"
                   sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
                <a href="/user" class="list-group-item list-group-item-action userPnl"
                   sec:authorize="hasRole('ROLE_USER')">User</a>
            </div>
        </div>
<!--        Right Side-->
        <div class="col-10 p-5 mb-2 bg-light">
            <h1>Admin panel</h1>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active"  data-toggle="tab" href="#allUsersTable" role="tab"
                        aria-selected="true">User table</a>
                    <a class="nav-link"  data-toggle="tab" href="#newUser" role="tab"
                        aria-selected="false">New User</a>
                </div>
            </nav>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="allUsersTable" role="tabpanel">
                    <div class="tab-content">
                        <div class="card">
                            <div class="card-header">
                                <b>All Users</b>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped border">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="allUsersTableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="newUser" role="tabpanel">
                    <div class="tab-content">
                        <div class="card">
                            <div class="card-header">
                                <b>Add new user</b>
                            </div>
                            <div class="card-body" align="center">
                                    <form>
                                        <label for="name"><b>First Name</b></label>
                                        <input type="text" class="form-control mb-1 col-4"
                                               id="name" aria-describedby="nameHelp">
                                        <p class="text-center text-black-50 font-weight-light">
                                            Name should be between 2 and 30 characters</p>

                                        <label for="lastName"><b>Last Name</b></label>
                                        <input type="text" class="form-control mb-1 col-4"
                                               id="lastName" aria-describedby="lastNameHelp">
                                        <p class="text-center text-black-50 font-weight-light">
                                            Last name should be between 2 and 30 characters</p>

                                        <label for="age"><b>Age</b></label>
                                        <input type="text" class="form-control mb-1 col-4"
                                               id="age" aria-describedby="ageHelp">
                                        <p class="text-center text-black-50 font-weight-light">
                                            Age should be greater than 0</p>

                                        <label for="email"><b>Email address</b></label>
                                        <input type="email" class="form-control mb-1 col-4"
                                               id="email" aria-describedby="emailHelp">
                                        <p class="text-center text-black-50 font-weight-light">
                                            Email must be valid</p>

                                        <label for="username"><b>Username</b></label>
                                        <input type="text" class="form-control mb-1 col-4"
                                               id="username" aria-describedby="emailHelp">
                                        <p class="text-center text-black-50 font-weight-light">
                                            Username must be unique</p>


                                        <label for="password"><b>Password</b></label>
                                        <input type="password"
                                               class="form-control mb-1 col-4"
                                               id="password">
                                        <p class="text-center text-black-50 font-weight-light">
                                            Password must be at least 6 characters</p>

                                        <label><b>Role</b></label><br>
                                        <div class="btn-group-vertical btn-group-toggle  col-4"
                                             data-toggle="buttons">
                                            <label class="btn btn-primary">
                                                <input type="checkbox" value="ROLE_ADMIN" name="new_roles" id="adminRole">Admin
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" value="ROLE_USER" name="new_roles" id="userRole">User
                                            </label>
                                        </div>
                                        <p class="text-center text-black-50 font-weight-light">
                                            Choose at least 1 role</p>
                                        <br>
                                        <button type="submit" class="btn btn-success col-2 AddBtn">Add new user</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="editUser" align="center">
    <form th:action="@{api/edit/{id}}" method="PUT">
        <div class="modal fade" id="modalEdit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="id" class="col-form-label">ID</label>
                        <input type="number" class="form-control" id="id" name="id" value="" disabled>

                        <label for="nameEdit" class="col-form-label">First name</label>
                        <input type="text" class="form-control" id="nameEdit" name="nameEdit" value="">
                        <p class="text-center text-black-50 font-weight-light">
                            Name should be between 2 and 30 characters</p>

                        <label for="lastNameEdit" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" id="lastNameEdit" name="lastNameEdit" value="">
                        <p class="text-center text-black-50 font-weight-light">
                            Last name should be between 2 and 30 characters</p>

                        <label for="ageEdit" class="col-form-label">Age</label>
                        <input type="text" class="form-control" id="ageEdit" name="ageEdit" value="">
                        <p class="text-center text-black-50 font-weight-light">
                            Age should be greater than 0</p>

                        <label for="emailEdit" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailEdit" name="emailEdit" value="">
                        <p class="text-center text-black-50 font-weight-light">
                            Email must be valid</p>

                        <label for="usernameEdit" class="col-form-label">User name</label>
                        <input type="text" class="form-control" id="usernameEdit" name="usernameEdit" value="">
                        <p class="text-center text-black-50 font-weight-light">
                            Username must be unique</p>

                        <label for="passwordEdit" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="passwordEdit" name="passwordEdit" value="">
                        <p class="text-center text-black-50 font-weight-light">
                            Password must be at least 6 characters</p>

                        <label>Role</label><br>
                        <div class="btn-group-vertical btn-group-toggle col-4"
                             data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="checkbox" value="ROLE_ADMIN" name="new_roles" id="adminRoleEdit">Admin
                            </label>
                            <label class="btn btn-primary">
                                <input type="checkbox" value="ROLE_USER" name="new_roles" id="userRoleEdit">User
                            </label>
                        </div>
                        <p class="text-center text-black-50 font-weight-light">
                            Choose at least 1 role</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary editBtnCommit" value="Edit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>
</html>