<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <table border="2">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td >
                <a th:href="@{/admin/{id}(id=${user.getId()})}"
                   th:text="${user.getName()}">user</a>
            </td>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getEmail()}"/>
            <td th:text="${user.getUsername()}"/>
        </tr>
        </tbody>

    </table>
    <br/>
    <hr/>

    <a href="/admin/new">Create new user</a>
    <br/>
    <a href="/logout">Logout</a>



</body>
</html>