<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'ID: ' + user.getId()}">VALUE</p>
<p th:text="${'Name: ' + user.getName()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${'Username: ' + user.getUsername()}">VALUE</p>

<a th:href="@{/admin/{id}/roles(id=${user.getId()})}">Roles</a>
<br/>
<a th:href="@{/admin/update/{id}(id=${user.getId()})}">Edit</a>

<form th:method="GET" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br/>
<a href="/admin">Menu</a>
</body>
</html>